div.center {
  margin-top: 20%;
  text-align: center;

  /*width: 6em*/
}
div.background {
  background-image: url("images/bookback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100%;
  position: fixed;
}

button {
  padding; 10px;
}
