div.center {
  margin-top: 400px;
  text-align: center;
}

div.background {
  background-image: url("images/newbook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100%;
  position: fixed;
}

button {
  padding: 10px;
  margin-top: 10px;
}

.notice {
  color: white;
  padding-top: 15px;
  font-weight: bold;
}

.company {
  color: white;
  font-size: 10em;
  text-align: center;
  margin-top: 100px;
  position: relative;
  margin-bottom: 10px;
}

.small-text {
  color: white;
  text-align: center;

}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in.small-text{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.slideUp {
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; bottom:0px;}
    100% {left:0px; bottom:375px;}
}

/* Standard syntax */
@keyframes example {
0%   {left:0px; bottom:0px;}
    100% {left:0px; bottom:375px;}
}

.art-work-container {
  max-width: 100%;
  height: 900px;
  text-align: center;
}

.art-work {
  height: 100%;
  width: 900px;
  position: relative;
}

.description {
  background-color: #d3d3d3;
  min-height: 100px;
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

.description p {
  padding: 10px;
  margin: 0;
}

.description h2 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px #2a2a2a;
}

.overlay {
  top: 820px;
  position: absolute;
  right: 600px;
  max-width: 80%;
  min-width: 700px;
}

.block {
  display: block;
  margin: 40px auto;
}

.container {
  max-width: 940px;
  min-width: 900px;
}
