<div class="background">


<div class="center">
  <form class ="pure-form pure-form-aligned" action="/login" method="post">
    <div class="pure-control-group">
      <input type="text" name="username" id="name" placeholder="Username" required>
    </div>

    <div class="pure-control-group">
      <input type="password" name="password_hash" id="ps" placeholder="Password" required>
    </div>

    <div class="pure-controls-group" >
      <button type="submit" class="btn btn-sm btn-primary">Login</button>
      <button type="submit" class="btn btn-sm btn-primary" id="submitbutton">Sign Up</button>
    </div>
  </form>
</div>

</div>

<!-- <button type="button" class="btn btn-lg btn-primary">Primary</button> -->

<!-- pure-botton pure-button-primary -->

<!-- Password<br>
<input type="text" type ="hidden" name="password_hash" >
<br><br>
<input type="submit" value="login">
<input type="button" value="signup" class="signup">
<!-- <button class = "signupbutton" type="button">Sign Up</button> -->
