<form class ="pure-form pure-form-aligned" id="1" action="/users" method="post">
  <div class="pure-control-group">
    <label for ="username">username</label>
    <input type="text" name="username" id="name" required>
  </div>

  <div class="pure-control-group">
    <label for ="password">Password</label>
    <input type="password" name="password_hash" id="ps" required>
  </div>

  <div class="pure-control-group">
    <label for ="email">Email</label>
    <input type="text" class="formreplace2" name="email" id="email">
  </div>

  <div class="pure-controls" >
    <button type="submit" class="pure-botton pure-button-primary">login</button>
    <button type="submit" class="pure-botton pure-button-primary" id="submitbutton">submit</button>
  </div>
</form>




<!-- Password<br>
<input type="text" type ="hidden" name="password_hash" >
<br><br>
<input type="submit" value="login">
<input type="button" value="signup" class="signup">
<!-- <button class = "signupbutton" type="button">Sign Up</button> -->
