
<div class="background">
<!-- <div class="topbar pullDown"></div> -->
<!-- div class ="hello fade-in" ><h1>Hello<h1> </div>
 -->
<!-- <div class="box fade-in one">
       look at me fade in
</div>
 
<div class="box fade-in two">
       Oh hi! i can fade too!
</div>
 
<div class="box fade-in three">
       Oh hi! i can fade three!
</div>xz -->
<h1 class="company fade-in">Textify</h1>
<h4 class = "small-text fade-in">All the textbooks audio you need, for free.</h4>

<div class="center slideUp" >
  
  <form class ="pure-form pure-form-aligned" action="/login" method="post">
    <div class="pure-control-group fade-in">
      <input type="text" name="username" id="name" placeholder="Username" required>
    </div>

    <div class="pure-control-group fade-in" >
      <input type="password" name="password_hash" id="ps" placeholder="Password" required>
    </div>

    <div class="pure-controls-group fade-in">
      <button type="submit" class="btn btn-sm btn-primary">Login</button>
      <button type="submit" class="btn btn-sm btn-primary" id="submitbutton">Sign Up</button>
    </div>
  </form>
</div>

</div>

<!-- <button type="button" class="btn btn-lg btn-primary">Primary</button> -->

<!-- pure-botton pure-button-primary -->

<!-- Password<br>
<input type="text" type ="hidden" name="password_hash" >
<br><br>
<input type="submit" value="login">
<input type="button" value="signup" class="signup">
<!-- <button class = "signupbutton" type="button">Sign Up</button> -->
