
<form action="/login">
Username<br>
<input type="text" name="username">
<br>
Password<br>
<input type="text" type ="hidden" name="password" >
<br><br>
<input type="submit" value="login">
<a href="#"><button type="button">Sign Up</button></a>
</form>
