

<form action="/signup" method="post">
Username<br>
<input type="text" name="username">
<br>
Password<br>
<input type="text" type ="hidden" name="password_hash" >
<br>
Email<br>
<input type="text" name="email">
<br><br>
<input type="submit" value="login">
</form>


