.book {
  text-align: left;
}

.book-thumbnail {
  width: 7em;
  height: auto;
  /*border: 25px black;*/
  float: left;
}

.outer {
  max-height: 150px
}

#page_container {
  font-family: 'Quicksand', sans-serif;
}

#page_container ul{
margin: 30px;
padding: 0;
list-style-type: none;
text-align: center;
}

#page_container ul li {
   /* display: inline;*/
font-family: 'Quattrocento', serif;
}

.pure-menu-list {
/*  padding: 10px;
  margin: 10px;*/
}

.audiobox {
}

.title {
 /*   top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
   padding: 0 0 10px 0;*/
}

.author {
/*  margin: 10px 10px 10px 10px;
*/}

#book_area {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

#book_area h3 {
  text-align: left;
  margin-top: 0;
}

ul#book_list {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}

ul#book_list li.outer {
  display: block;
  padding: 6px 25px;
  background-color: #ddd;
  border-radius: 20px;
  border: 2px solid #ccc;
  margin: 7px 20px 0px 20px;
  text-align: left;
  height: 200px;

}

#menuLink1 {
}

.pure-menu-children li {
  font-family: 'Quattrocento', serif;
  border 10px solid #ccc;

}

.pure-menu-children {

}

.pure-menu-link {
  width: 100%;
  height: 100%;

}

.pure-menu-item {

}
